include ~Example/blocks/configurable-slider/configurable-slider.pug

mixin index-page()
  .grid
      .grid__item.js-multislider-v43_double.js-multislider-v43_slider-1
      .grid__item.js-multislider-v43_double.js-multislider-v43_slider-2.js-multislider-v43(
        data-min-value="-1", data-max-value="1", data-step="0.0001", data-value1="-0.25",
        data-value2="0.8", data-orientation="horizontal", data-slider-type="double",
        data-pop-up-of-value="false", data-scale-of-values="9", data-is-progress-bar="false",
        data-postfix="π", data-description="Горизонтальный слайдер",
      )
      .grid__item.js-multislider-v43_solo.js-multislider-v43_slider-3
      .grid__item.js-multislider-v43_solo.js-multislider-v43_slider-4.js-multislider-v43(
        data-min-value="-5", data-max-value="5", data-step="0.5", data-value1="1",
        data-orientation="horizontal", data-slider-type="solo", data-pop-up-of-value="true",
        data-pop-up-is-hided="false", data-is-progress-bar="false",
        data-description="Одиночный горизонтальный слайдер",
      )
      .grid__item
        +configurable-slider()
      .grid__item
        +configurable-slider()
      .grid__item
        +configurable-slider()